<div class="container">
  <div class="content" style="margin-bottom: 1em;">
    <h3 class="h3-home-title">Select Action</h3>
    <div class="clr-row">
      <a href="#" class="clr-col-sm-12 clr-col-md-3">
        <span>
          <img src="../../../assets/png/plus-6x.png" />
          <p class="clr-col-md-12">ADD EVENT</p>
        </span>
      </a>
      <a href="#" class="clr-col-sm-12 clr-col-md-3">
        <span>
            <img src="../../../assets/png/eye-6x.png" />
          <p class="clr-col-md-12">VIEW EVENT</p>
        </span>
      </a>
      <a href="#" class="clr-col-sm-12 clr-col-md-3">
        <span>
            <img src="../../../assets/png/pencil-6x.png" />
          <p class="clr-col-md-12">UPDATE EVENT</p>
        </span>
      </a>
      <a href="#" class="clr-col-sm-12 clr-col-md-3">
        <span>
            <img src="../../../assets/png/delete-6x.png" />
          <p class="clr-col-md-12">DELETE EVENT</p>
        </span>
      </a>
    </div>
  </div>

</div>
