<div class="container">
    <div class="content" style="margin-bottom: 1em;">
      <h3 class="h3-home-title">Events Gallery</h3>
      <div class="clr-row">
        <div class="clr-col-sm-12 clr-col-md-3">
            <span><img class="clr-col-md-12" src="../../assets/img/home1.jpg"></span>
        </div>
        <div class="clr-col-sm-12 clr-col-md-3">
            <span><img class="clr-col-md-12" src="../../assets/img/home1.jpg"></span>
        </div>
        <div class="clr-col-sm-12 clr-col-md-3">
          <span><img class="clr-col-md-12" src="../../assets/img/home1.jpg"></span>
        </div>
        <div class="clr-col-sm-12 clr-col-md-3">
            <span><img class="clr-col-md-12" src="../../assets/img/home1.jpg"></span>
        </div>
        <div class="clr-col-sm-12 clr-col-md-3">
            <span><img class="clr-col-md-12" src="../../assets/img/home1.jpg"></span>
        </div>
        <div class="clr-col-sm-12 clr-col-md-3">
            <span><img class="clr-col-md-12" src="../../assets/img/home1.jpg"></span>
        </div>
        <div class="clr-col-sm-12 clr-col-md-3">
          <span><img class="clr-col-md-12" src="../../assets/img/home1.jpg"></span>
        </div>
        <div class="clr-col-sm-12 clr-col-md-3">
            <span><img class="clr-col-md-12" src="../../assets/img/home1.jpg"></span>
        </div>
      </div>
    </div>
    <hr class="h3-line-seperator" />
  </div>
