<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-sm-6">
        <a href="/Events" class="card" class="card">
          <div class="card-body">
            <h5 class="card-title">UPCOMING EVENTS</h5>
            <a href="#" class="btn btn-secondary">Go to Events</a>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="/Bookings" class="card">
          <div class="card-body">
            <h5 class="card-title">BOOKINGS</h5>
            <a href="#" class="btn btn-secondary">Go to Bookings</a>
          </div>
        </a>
      </div>
    </div>
    <hr class="h3-line-seperator" />
    <div class="content" style="margin-bottom: 1em;">
      <h3 class="h3-home-title">Dj Line Up and Perfomances: </h3>
      <ul class="list-group list-group-horizontal" style="margin-bottom: 0.5em;
       ">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
              <li class="list-group list-group-horizontal">
                <img class="dj-image d-block w-20" src="../../assets/img/dj.png" height="100" width="100" />
                <div class="dj-name">
                  <h3>DJs</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nasvee</li>
                    <li class="list-group-item">Ingqonyela</li>
                    <li class="list-group-item">Gost</li>
                  </ul>
                </div>
                <div class="event-poster">
                  <h3 class="event-poster-title">Social Link Pub Spring Party</h3>
                  <div class="event-poster-content clr-col-sm-12">
                    <p>Date: 22 November 2019</p>
                    <p>Venue: Social Link</p>
                    <p>Ticket: R50.00</p>
                    <p>Featured Artists: Sleek, LG Mafia, Ras Odume Ngenkani, Soul KB</p>
                  </div>
                </div>
              </li>
            </div>
            <div class="carousel-item" data-interval="10000">
              <li class="list-group list-group-horizontal">
                <img class="dj-image d-block w-20" src="../../assets/img/dj.png" height="100" width="100" />
                <div class="dj-name" href="#">
                  <h3>DJs</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nasvee</li>
                    <li class="list-group-item">Ingqonyela</li>
                    <li class="list-group-item">Gost</li>
                  </ul>
                </div>
                <div class="event-poster">
                  <h3 class="event-poster-title">Social Link Pub  Spring Party</h3>
                  <div class="event-poster-content clr-col-sm-12">
                    <p>Date: 22 November 2019</p>
                    <p>Ticket: R50.00</p>
                    <p>Time: 15: 00 - Mid Night</p>
                    <p>Featured Artists: Sleek, LG Mafia, Ras Odume Ngenkani, Soul KB</p>
                  </div>
                </div>
              </li>
            </div>
            <div class="carousel-item" data-interval="10000">
              <li class="list-group list-group-horizontal">
                <img class="dj-image d-block w-20" src="../../assets/img/dj.png" height="100" width="100" />
                <div class="dj-name" href="#">
                  <h3>DJs</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nasvee</li>
                    <li class="list-group-item">Ingqonyela</li>
                    <li class="list-group-item">Gost</li>
                  </ul>
                </div>
                <div class="event-poster">
                  <h3 class="event-poster-title">Social Link Pub Spring Party</h3>
                  <div class="event-poster-content">
                    <p>Date: 22 November 2019</p>
                    <p>Venue: Social Link</p>
                    <p>Ticket: R50.00</p>
                    <p>Featured Artists: Sleek, LG Mafia, Ras Odume Ngenkani, Soul KB</p>
                  </div>
                </div>
              </li>
            </div>
            <div class="carousel-item" data-interval="10000">
              <li class="list-group list-group-horizontal">
                <img class="dj-image d-block w-20" src="../../assets/img/dj.png" height="100" width="100" />
                <div class="dj-name" href="#">
                  <h3>DJs</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nasvee</li>
                    <li class="list-group-item">Ingqonyela</li>
                    <li class="list-group-item">Gost</li>
                  </ul>
                </div>
                <div class="event-poster">
                  <h3 class="event-poster-title">Social Link Pub Spring Party</h3>
                  <div class="event-poster-content">
                    <p>Date: 22 November 2019</p>
                    <p>Ticket: R50.00</p>
                    <p>Time: 15: 00 - Mid Night</p>
                    <p>Featured Artists: Sleek, LG Mafia, Ras Odume Ngenkani, Soul KB</p>
                  </div>
                </div>
              </li>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black !important;"></span>
            <span class="sr-only" style="color: black !important;">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </ul>
    </div>
  </div>
  <hr class="h3-line-seperator" />
</div>
