<app-slider></app-slider>

<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-sm-6">
        <a href="/Events" class="card" class="card">
          <div class="card-body">
            <h5 class="card-title">UPCOMING EVENTS</h5>
            <a href="#" class="btn btn-secondary">Go to Events</a>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="/Bookings" class="card">
          <div class="card-body">
            <h5 class="card-title">BOOKINGS</h5>
            <a href="#" class="btn btn-secondary">Go to Bookings</a>
          </div>
        </a>
      </div>
    </div>
    <hr class=".h3-line-seperator" />
    <div class="content" style="margin-bottom: 1em;">
      <h3 class="h3-home-title">Dj Line Up and Perfomances: </h3>
      <ul class="list-group list-group-horizontal" style="margin-bottom: 0.5em;
      border-bottom-style: solid;
      border-bottom-width: 1px;">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
              <li class="list-group list-group-horizontal">
                <img class="dj-image d-block w-20" src="../../assets/img/dj.png" height="100" width="100" />
                <div class="dj-name">
                    <h3>Artists</h3>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Sleek</li>
                      <li class="list-group-item">LG Mafia</li>
                      <li class="list-group-item">Ras</li>
                    </ul>
                    <h3>DJs</h3>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Nasvee</li>
                      <li class="list-group-item">Ingqonyela</li>
                      <li class="list-group-item">Gost</li>
                    </ul>
                </div>
                <img class="event-poster" src="../../assets//img/home1.jpg" />
              </li>
            </div>
            <div class="carousel-item" data-interval="10000">
              <li class="list-group list-group-horizontal">
                <img class="dj-image d-block w-20" src="../../assets/img/dj.png" height="100" width="100" />
                <div class="dj-name" href="#">
                    <h3>Artists</h3>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Sleek</li>
                      <li class="list-group-item">LG Mafia</li>
                      <li class="list-group-item">Ras</li>
                    </ul>
                    <h3>DJs</h3>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Nasvee</li>
                      <li class="list-group-item">Ingqonyela</li>
                      <li class="list-group-item">Gost</li>
                    </ul>
                </div>
                <img class="event-poster" src="../../assets//img/home1.jpg" />
              </li>
            </div>
            <div class="carousel-item" data-interval="10000">
              <li class="list-group list-group-horizontal">
                <img class="dj-image d-block w-20" src="../../assets/img/dj.png" height="100" width="100" />
                <div class="dj-name" href="#">
                  <h3>Artists</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Sleek</li>
                    <li class="list-group-item">LG Mafia</li>
                    <li class="list-group-item">Ras</li>
                  </ul>
                  <h3>DJs</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nasvee</li>
                    <li class="list-group-item">Ingqonyela</li>
                    <li class="list-group-item">Gost</li>
                  </ul>
                  <!-- <p>Sleek Performance <br /> <img src="../../assets//png/clock-4x.png"> 18:00</p>
                  <p>Ras Odume Ngenkani Performance <br /> <img src="../../assets//png/clock-4x.png"> 18:00</p>
                  <p>LG Mafia Performance <br /> <img src="../../assets//png/clock-4x.png"> 18:00</p>
                  <p>Khuli Bangers Performance <br /> <img src="../../assets//png/clock-4x.png"> 18:00</p> -->
                </div>
                <img class="event-poster" src="../../assets//img/home1.jpg" />
              </li>
            </div>
            <div class="carousel-item" data-interval="10000">
              <li class="list-group list-group-horizontal">
                <img class="dj-image d-block w-20" src="../../assets/img/dj.png" height="100" width="100" />
                <div class="dj-name" href="#">
                    <h3>Artists</h3>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Sleek</li>
                      <li class="list-group-item">LG Mafia</li>
                      <li class="list-group-item">Ras</li>
                    </ul>
                    <h3>DJs</h3>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Nasvee</li>
                      <li class="list-group-item">Ingqonyela</li>
                      <li class="list-group-item">Gost</li>
                    </ul>
                </div>
                <img class="event-poster" src="../../assets//img/home1.jpg" />
              </li>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black !important;"></span>
            <span class="sr-only" style="color: black !important;">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </ul>
    </div>

    <div class="content" style="margin-bottom: 1em;">
      <h3>Venue Booking Information</h3>
    </div>
  </div>

</div>
